node_modules/
bower_components/
jspm_packages/

dist/
build/
out/
.next/
.nuxt/
.svelte-kit/
.vercel/
.cache/
.tmp/
.temp/

.env
.env.*
*.env

*.log


.idea/
.vscode/
*.swp
*.swo

*.pem
*.key
*.crt
*.pfx
*.p12

*.sqlite
*.db
*.sql



